:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.top-nav {
    background: var(--light-bg);
    position: fixed; /* --- RA --- */
    width: 100%; /* --- RA --- */
    z-index: 1000; /* --- RA --- */
}
.nav {
    list-style-type: none;
    padding: 0; /* --- RA --- */
    margin: 0;
}

.nav-item { /* --- RA --- */
    display: inline-block; /* --- RA --- */
    padding: 1.5em; /* --- RA --- */
}

.nav-link {
    display: inline-block; /* --- RA --- */
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}

.profile {
    background: var(--light-bg); /* --- RA --- */
    height: 80px; /* --- RA --- */
}

.profile-form { /* --- RA --- */
    float: right; /* --- RA --- */
    line-height: 80px; /* --- RA --- */
}

.profile-items { /* --- RA --- */
    list-style: none; /* --- RA --- */
}

.profile-entry { /* --- RA --- */
    margin: .5em; /* --- RA --- */
}

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}

.container { /* --- RA --- */
    margin-top: 2em; /* --- RA --- */
}

.media { /* --- RA --- */
    padding: .5em;
    width: 100%; /* --- RA --- */
    background-color: var(--light-bg); /* --- RA --- */
    border-bottom: 2px; /* --- RA --- */
    border-color: var(--separator-color); /* --- RA --- */
    overflow: auto; /* --- RA --- */
}

.media-image {
    margin-top: 1.33em; /* --- RA --- */
    max-width: 50px; /* --- RA --- */
    float: left; /* --- RA --- */
}

.media-body { /* --- RA --- */
    float: left;
    width: calc(100% - 50px); /* --- RA --- */

}

.profile-details { /* --- RA --- */
    float: left;
    width: 15%; /* --- RA --- */
    margin: 0 .5em; /* --- RA --- */

}

.timeline { /* --- RA --- */
    float: left;
    width: 55%; /* --- RA --- */
    margin: 0 .5em; /* --- RA --- */

}

.who-to-follow { /* --- RA --- */
    float: right;
    width: 25%; /* --- RA --- */
    margin: 0 .5em; /* --- RA --- */

}

.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}

.profile-image { /* --- RA --- */
    position: absolute; /* --- RA --- */
    top: 28%; /* --- RA --- */
}

.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}